
body{
    margin: 0;
    padding: 0;
    

}
.home{
    background-image: url('images/hero.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}
nav li{
    display: inline;
    margin-left: 100px;
   
    
   
}
.FirstPart{
    text-align: center;
    margin-top: 15%;

}

.FirstPart button{
    text-align: center;
    border-radius: 20px;
    padding: 7px;
    border: none;
    color: white;


}
.FirstPart .btn1{
    background-color: blue;
}
.FirstPart .btn2{
    background-color: white;

}
.grid-item{
    display: inline-grid;
    grid-template-rows: auto auto auto;
    text-align: center;
    margin-right: 5%;
    margin-left: 13%;
    border: 2px solid black;
    margin-top: -100px;
}

