body{
    margin: 0%;
    padding: 0%;
    background-image: url('images/#hero-cover.3.png');
}

.Titles ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 10px;
    align-items: center;
}
.Titles ul li {
    margin-right: 100px;
    list-style-type: none;
    text-decoration: none;
}
.SecondPart{
    justify-content: right;
    flex-direction: row;
    margin-right: 60px;
}